/* GENERALES */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background: url(img/pokeballs-wallpaper2.jpg);
    background-attachment: fixed;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* HEADER */
.header{
    width: 100vw;    
    background: #f80404/*linear-gradient(to right, #f80404, #e80404, #d10303, #bf0303, #ac0303)*/; 
    padding: 20px 0;    
}
.header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 15px 0 5px;
}
.pokemonIcon img{
    width: 60px;
}
.links{
    display: flex;
    align-items: center;
}

.header li{
    display: inline-block;
}
.header a{
    color: #000;
}
.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttonCart{
    background: none;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-right: 20px;
}
.buttonCart i {
    color: #000;
}
/* MAIN */
.containerPokemons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerPokemons h1{
    width: fit-content;
    padding: 5px 10px;
    text-align: center;
    border-bottom: 1.4px solid #fff;    
    color: #fff;
}
.pokemons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}
.pokemonCard{
    width: 270px;
    background: linear-gradient(to top right, #ff8703,#ff4318,#f80404);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #000;
}
.cardHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardHeader h3{
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bolder;
    border-bottom: #000 .5px solid;
}
.cardHeader h5 {
    font-weight: 600;
    padding-right: 3px;
    margin: 6px 0 10px 0;
    border-bottom: #000 .5px solid;
}
.cardInfo{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardInfo img {
    width: 100px;
    margin: 10px 0;
}
.cardShop{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardPrice{
    display: flex;
}

.btn{
    background: none;
    padding: 10px 7px;
    border: 1.4px solid #000;
    border-radius: 3px;
    font-weight: 600;
    color: #000;
    margin: 0 3px;
    cursor: pointer;
}

.cardShop i{
    cursor: pointer;
    padding: 8px;
}

/* CART */

.containerCartItem{
    width: 100%;
    padding: 5px 17px;
    color:#000;
    background: linear-gradient(to top right, #ff8703,#ff4318,#f80404);
    border: 1px solid #000;
    display: flex;
    
}
.cartImg{
    width: 20%;
    margin-right: 15px;
    margin-top: 10px;
}
.cartImg img{
    width: 100%;
}
.cartInfo{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cartInfo h3{
    text-transform: capitalize;
}
.quantityCart{
    background: none;
    border: none;
    color: #000;
    width: 35px;
    outline:none;
} 
.cartDelete{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
}
.cartDelete i{ 
    cursor: pointer;
    color: #000;
}
.cartTitleItem{
    align-self: flex-start;
    border-bottom: #000 1.3px solid;
}
.cartPriceItem{
    display: flex;
    justify-content: space-between;
}
.cartQuantItem{
    display: flex;
    justify-content: space-between;
}
.totalCart{
    margin-top: 15px;    
    width: 100%;
}
.totalCart h3{
    text-align: left;
}
/* POKEMON BUY */
.buyPokContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buyPokContainer h3{
    font-size: 27px;
    width: fit-content;
    text-transform: capitalize;
    padding: 5px;
    border-bottom: #000 1.3px solid;

}
.buyPokContainer img{
    width: 50%;
    margin: 15px;
}
/* BTNS */
.btns{
    width: 100%;
    margin-bottom: 15px;
    margin-left: 15px;
}



