/* GENERALES */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background-image: url(img/pokeballs-bg.webp);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* HEADER */
.header{
    width: 100%;
    background-color: #ff0000;
    padding: 20px 0;    
}
.header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 15px 0 5px;
}
.pokemonIcon img{
    width: 60px;
}
.links{
    display: flex;
    align-items: center;
}

.header li{
    display: inline-block;
}
.header a{
    color: #000;
}
.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttonCart{
    padding: 10px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    background-color: #fff;
}
.buttonCart i {
    color: #000;
}
.pokemons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    gap: 15px;
}
.pokemonCard{
    background: #fff;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 4px;
}
.cardHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardHeader h3{
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 4px;
}
.cardShop{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardShop button{
    border: none;
    padding: 10px 7px;
    border-radius: 3px;
    cursor: pointer;
}
.cardShop i{
    cursor: pointer;
    padding: 8px;
}



